* {
    all: unset;
}

@import 'colors.scss';

.bar {
    font-family: VictorMono Nerd Font;
    font-size: medium;
    background: transparent;
    color: $on_surface;
}

.center,
.left,
.right {
    background-color: $surface;
    border-radius: 30px;
    border-width: 2px;
    border-color: $outline;
    border-style: solid;
}

.left {
    padding-left: 4px;
    padding-right: 4px;
}

.right {
    background: transparent;
    border-style: none;

    &>* {
        background-color: $surface;
        border-radius: 30px;
        border-width: 2px;
        border-color: $outline;
        border-style: solid;
    }

    .battery {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.workspaces {
    .workspace1 {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .workspace10 {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .current {
        background-color: $secondary_container;
    }

    .occupied {
        color: $primary;
    }
}
