* {
    all: unset;
}

.bar {
    font-family: VictorMono Nerd Font;
    font-size: medium;
    background: transparent;
    color: #C1C1C1;
}

.center, .left, .right {
    background-color: #000000;
    border-radius: 30px;
    border-width: 2px;
    border-color: #C1C1C1;
    border-style: solid;
}

.left {
    padding-left: 2px;
    padding-right: 2px;
}

.right {
    background: transparent;
    & > * {
        background-color: #000000;
        border-radius: 30px;
    }
}

.workspaces {
    .workspace1 {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .workspace10 {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .current {
        background-color: #222222;
    }
    .occupied {
        color: #A06666;
    }
}
